.breadcrumb{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
}

.breakLine{
    background: #AFCEE7;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.thumbnailImage {
	width: 100px !important;
	height: 140px !important;
}